.header{
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(100,100,100,.5);
    background-color: white;
}

.buscador{
    display: none;
}


.items-header{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
}

.container-logo{
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.container-logo img{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.container-logo h1{
    color: var(--yellow);
    padding: 0 5px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.menu-label{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu{
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    left: 0;
    transform: scaley(0);
    -webkit-transform: scaley(0);
    -moz-transform: scaley(0);
    -ms-transform: scaley(0);
    -o-transform: scaley(0);
}

.item-menu{
    padding: 20px 20px 5px 5px;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 500;
    border-bottom: 1px dotted rgba(150, 150, 150, .4);
}

.item-menu a{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.item-menu:hover a{
    color: var(--yellow);
}

#ver-menu{
    display: none;
}

#ver-menu:checked ~ .menu{
    transform: scaley(1);
    -webkit-transform: scaley(1);
    -moz-transform: scaley(1);
    -ms-transform: scaley(1);
    -o-transform: scaley(1);
}


@media screen and (min-width: 800px){
    .menu-label{
        display: none;
    }

    .items-header{
        padding: 10px 20px;
        display:  grid;
        grid-template-columns: 1fr repeat(2, auto);
        align-items: center;
    }

    .container-logo h1{
        font-size: 2rem;
    }

    nav{
        display: flex;
    }

    .menu{
        width: auto;
        list-style: none;
        position: relative;
        display: flex;
        padding: 10px;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    
    .item-menu{
        padding: 0;
        border: none;
    }

    .item-menu a{
        text-decoration: none;
        color: black;
        padding: 10px;
    }

    .buscador{
        display: inline-block;
        position: relative;
    }


    .buscador img{
        width: 25px;
        height: 25px;
    }

    .buscador a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: black;
        position: relative;
        z-index: 1;
        cursor: auto;
    }

    .buscar{
        width: 0;
        height: 40px;
        padding: 0;
        float: left;
        border: none;
        position: absolute;
        right: 0;
        transition: width .5s;
        -webkit-transition: width .5s;
        -moz-transition: width .5s;
        -ms-transition: width .5s;
        -o-transition: width .5s;
    }

    .buscador:hover .buscar{
        width: 250px;
        border: 1px solid black;
        padding: 0px 10px;
    }
}


@media screen and (min-width: 930px){
    .items-header{
        width: 90%;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1024px){
    .items-header{
        width: 85%;
    }

    .container-logo h1{
        font-size: 2rem;
    }

    .item-menu a{
        padding: 10px 20px;
    }

    .buscador:hover .buscar{
        width: 300px;
        border: 1px solid black;
        padding: 0px 10px;
    }
}
